{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}


	<section class="container col-8 div_cat mt-5 py-5">
		<div class="row">
			<div class="col">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Vous etes connecté(e) comme
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<div class="col-xs-3 col-3 text-center mx-auto my-5 cat_count rounded p-3">
						<h1>Connexion</h1>
					</div>

					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="col-12 text-center">
						<button class="col-2 btn btn-lg btn-primary mt-3 mx-3" type="submit">
							Me connecter
						</button>
						<a href="{{ path('app_register') }}" class=" col-2 btn btn-lg btn-primary mt-3 mx-3">M'inscrire</a>
					</div>
				</form>
			</div>
		</div>
	</section>

{% endblock %}
