{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-sm-8 offset-sm-2">

				<div class="col-6 col-xs-12 mx-auto my-5 cat_count rounded p-3">
					<h1>Vos informations :</h1>
				</div>

				<table class="table table-light table-hover">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Email</th>
							<th>Telephone</th>
							<th>Adresse</th>
							<th>Ville</th>
							<th>Code postal</th>
							<th></th>
							<th>Action</th>


						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ informations.nom }}</td>
							<td>{{ informations.prenom }}</td>
							<td>{{ informations.email }}</td>
							<td>{{ informations.telephone }}</td>
							<td>{{ informations.adresse }}</td>
							<td>{{ informations.ville }}</td>
							<td>{{ informations.cp }}</td>
							<td>
								{# <a href="{{ path ('panier_delete', {id: item.plat.id}) }}" class="col-4 btn btn-danger">Modifier</a> #}
								<a href="#" class="col btn btn-success">Modifier le profil</a>
							</td>
							<td>
								<a href="#" class="col btn btn-success">Modifier le mot de passe</a>
							</td>

						</tr>
					</tbody>
				</table>

				<div class="col-8 col-xs4 mx-auto my-5 cat_count rounded p-3">
					<h1>Vos commandes passées :</h1>
				</div>
				{% for commande in app.user.commandes %}
					<div class="col-xs1">Plats :</div>
					<div class="col-xs3">{{ plat.libelle }}</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
