{% extends 'base.html.twig' %}

{% block body %}

	<section class="container col-7 div_cat mt-5 py-5">
			<div class="row">
				<div class="col">
					{% for flash_error in app.flashes('verify_email_error') %}
						<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
					{% endfor %}
	
					<div class="col-4 col-xs-12 mx-auto my-5 cat_count rounded p-3">
						<h1>Inscription</h1>
					</div>
	
					<div class="row text-center">
						{{ form_start(form) }}
	
						<fieldset class="form-control mb-3">
							<b>
								<legend class="mb-5" style="color:white">Mon identité</legend>
							</b>
							{{ form_row(form.nom) }}
							{{ form_row(form.prenom) }}
							{{ form_row(form.email) }}
							{{ form_row(form.telephone) }}
						</fieldset>
	
						<fieldset class="form-control mb-3">
							<b>
								<legend class="my-5" style="color:white">Mes coordonnées</legend>
							</b>
							{{ form_row(form.adresse) }}
							{{ form_row(form.cp) }}
							{{ form_row(form.ville) }}
						</fieldset>
	
						{{form_row(form.plainPassword) }}
						<br>
						<button type="submit" class="btn btn-primary btn-lg my-3">Comfirmer
						</button>
						{{ form_end(form) }}
	
					</div>
				</div>
			</section>

	{# <div class="container">
		<div class="row mt-5">
			<div class="col-8 col-sm-8 offset-sm-2">

				<div class="col-6 col-xs-6 mx-auto my-5 cat_count rounded p-3">
					<h1>Vos informations :</h1>
				</div>

				<table class="table table-light table-hover">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Email</th>
							<th>Telephone</th>
							<th>Adresse</th>
							<th>Ville</th>
							<th>Code postal</th>
							<th></th>
							<th>Action</th>


						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ informations.nom }}</td>
							<td>{{ informations.prenom }}</td>
							<td>{{ informations.email }}</td>
							<td>{{ informations.telephone }}</td>
							<td>{{ informations.adresse }}</td>
							<td>{{ informations.ville }}</td>
							<td>{{ informations.cp }}</td>
							<td>
								{# <a href="{{ path ('profil_modif', {id: user.co.id}) }}" class="col-4 btn btn-danger">Modifier</a> #}
								<a href="#" class="btn btn-success">Modifier le profil</a>
							</td>
							<td>
								<a href="#" class="btn btn-success">Modifier le mdp</a>
							</td>

						</tr>
					</tbody>
				</table>
				{% if is_granted ('ROLE_AMIN') %}
					<div class="col-8 col-xs6 mx-auto my-5 cat_count rounded p-3">
						<h1>Les commandes passées :</h1>
					</div>
					{% for commande in app.user.commandes %}
						<div class="col-xs1">Plat :</div>
						{# <div class="col-xs3">{{ plat.libelle }}</div> #}
					{% endfor %}

				{% else %}
					<div class="col-8 col-xs6 mx-auto my-5 cat_count rounded p-3">
						<h1>Vos commandes passées :</h1>
					</div>
					{% for commande in app.user.commandes %}
						<div class="col-xs1">Plat :</div>
						{# <div class="col-xs3">{{ plat.libelle }}</div> #}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div> #}

{% endblock %}
